<h1>Welcome#index</h1>
<h1>Hello, Rails!</h1>



			

					<h1><b>Settings</b></h1>
					<br>

					<ul class="nav nav-tabs">
					  <li class="active"><a href="pages/controls"><h5>Controls</h5></a>
					  </li>
					  <li><a href="Message Times & Dates"><h5>Message Times & Dates</h5></a></li>
					  <li><a href="pages/manage_users"><h5>Manage Users</h5></a></li>
					  <li><a href="pages/staff_notifications"><h5>Staff Notifications</h5></a></li>
					</ul>
					<table>
					  <tr>
					    <th>Voice</th>
					    <th>Text</th>
					    <th>Email</th>
					    <th>Messaging Preferences</th>
					    <th></th>
					    <th></th>
					    <th></th>
					  </tr>